*{
    padding: 0;
    margin: 0;
}

header{
    padding: 20px;
    background-color:#ffadc6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    background: radial-gradient(circle, rgb(#fff7de));
    justify-content: space-between;
    align-items: center;
    color: #df658b;
}
h1{
  color: #df658b;
}
h2{
    color:#ffacc6;
}
p{
   color:#df658b; 
}

button.a:hover {
    color: #e2a2ff;
    background-color: #ffecf1;

}
img{
    border-radius: 20px;
}
body.m {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color :#ffe5fc;
}
button {
    font-size: 18px;
    font-weight:200;
    border: none;
    background-color: #ffcbe2;
    text-align: center;
    padding: 10px 60px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}
.romance{
    padding: 20px;
    background-color:#ffadc6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    background: radial-gradient(circle, rgb(#fff7de));
    justify-content: space-between;
    align-items: center;
    color: #df658b;
}