*{
    padding: 0;
    margin: 0;
}

header{
    padding: 20px;
    background-color: #9564f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    background: radial-gradient(circle, rgb(#fff7de));
    justify-content: space-between;
    align-items: center;
}
h1{
  color: #5a35e8;
}

.a:hover {
    color: #e2a2ff;
    background-color: aliceblue;

}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color :#e2a2ff;
}
button {
    font-size: 18px;
    font-weight:200;
    border: none;
    background-color: #6d47e3;
    text-align: center;
    padding: 10px 60px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}